<h1>Employee Details</h1>

<table border="1" align="center">
    <thead>
        <tr>
            <th>EMP ID</th>
            <th>EMP Name</th>
            <th>Designation</th>
            <th>Address</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let arr of array">
            <td>{{arr.id}}</td>
            <td *ngIf="showMe">{{arr.name}}</td>
            <td *ngIf="showMe">{{arr.designation}}</td>
            <td *ngIf="showMe">{{arr.address}}</td>
            <td *ngIf="showMe">{{arr.salary}}</td>
        </tr>
        <button (click)="toogle()">hide</button>
    </tbody>
</table>

<router-outlet></router-outlet>
